<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCutePet | 아이디 조회</title>
    <link rel="stylesheet" th:href="@{/css/findid2.css}">
</head>
</head>
<body>
    <div class="find-id-page">
        <!-- 로고 -->
        <div class="logo"></div>

        <!-- 제목 -->
        <div class="title">아이디 찾기</div>
        <div class="subtitle">고객님의 정보와 일치하는 아이디 목록입니다.</div>

        <!-- 구분선 -->
        <hr class="line main-line">
        <hr class="line accent-line">

        <!-- 출력 필드 -->
        <div class="output-container">
            <p th:text="${findId}"></p>
        </div>
		
		<!-- 로그인 버튼 -->
      	<div class="login-btn">
         	<a href="main_login" style="text-decoration: none; color: inherit;">로그인하기</a>
     	</div>
		
        <!-- 비밀번호 찾기 버튼 -->
      	<div class="findpwd-btn">
            <a href="findpwd" style="text-decoration: none; color: inherit;">비밀번호 찾기</a>
        </div>
		

    </div>
</body>
</html>