<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choco.attach.dao.AttachRepository">

<!-- 	<resultMap id="attachMap" type="com.choco.attach.model.Attach">
		<result column="ATTACH_ID" property="attachId"/>
		<result column="ATTACH_NAME" property="attachName"/>
	    <result column="ATTACH_FILE" property="attachFile" jdbcType="BLOB" javaType="[B"/>
	</resultMap> -->
	
<!-- 	<select id="getOneAttachImg" parameterType="int" resultType="com.choco.attach.model.Attach">
		SELECT ATTACH_ID,
		       ATTACH_NAME, 
		       ATTACH_FILE
		FROM ATTACH
		WHERE BOARD_ID=#{boardId} AND 
		      LOWER(REGEXP_SUBSTR(ATTACH_NAME, '[^\.]+$', 1, 1))
		      IN ('jpg', 'jpeg', 'gif', 'png', 'tif', 'tiff', 'psd', 'bmp', 'tga')  
		FETCH FIRST ROW ONLY
	</select> -->
	
	<select id="getAttachFile" parameterType="int" resultType="com.choco.attach.model.Attach">
		SELECT ATTACH_NAME
		FROM ATTACH
		WHERE BOARD_ID = #{boardId}
	</select>	
	
	<insert id="insertAttach" parameterType="com.choco.attach.model.Attach">
		INSERT INTO ATTACH
		VALUES (
		    ATTACH_SEQ.nextval, #{attachName}, #{boardId})
			<!-- ATTACH_SEQ.nextval, #{attachName}, #{attachFile, jdbcType=BLOB}, #{boardId}) -->
	</insert>
	
	<update id="updateAttach" parameterType="com.choco.attach.model.Attach">
		UPDATE ATTACH
		SET ATTACH_NAME = #{attachName}
		WHERE BOARD_ID = #{boardId}
			<!-- ATTACH_SEQ.nextval, #{attachName}, #{attachFile, jdbcType=BLOB}, #{boardId}) -->
	</update>
		
	<delete id="deleteAttach" parameterType="int">
		DELETE FROM ATTACH 
		WHERE BOARD_ID = #{boardId}
	</delete>
</mapper>