<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choco.board.dao.BoardRepository">

	<select id="getBoardList" resultType="com.choco.board.model.Board">
		SELECT * FROM BOARD
	</select>
	
	<select id="getBoardDetail" parameterType="int" resultType="com.choco.board.model.Board">
		SELECT * FROM BOARD
		WHERE BOARD_ID=#{boardId}
	</select>	
	
	<select id="createBoard" parameterType="com.choco.board.model.Board">
		
	</select>
		
	<select id="updateBoard" parameterType="com.choco.board.model.Board">
		
	</select>
</mapper>