<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choco.board.dao.BoardRepository">

<!-- 	<resultMap id="boardMap" type="com.choco.board.model.Board">
		<result column="BOARD_ID" property="boardId"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="BOARD_DATE" property="boardDate"/>
		<result column="BOARD_CATEGORY" property="boardCategory"/>
		<result column="USERS_ID" property="usersId"/>
		<result column="HEART_SUM" property="heartSum"/>
	    <result column="ATTACH_FILE" property="attachFile" jdbcType="BLOB" javaType="[B"/>
	</resultMap> -->
	
	<select id="getBoardList" parameterType="String" resultType="com.choco.board.model.Board">
		SELECT 
		    MAIN.*,
		    A.ATTACH_NAME AS ATTACH_NAME
		FROM (
		    SELECT DISTINCT B.BOARD_ID,
		           BOARD_TITLE,
		           DBMS_LOB.SUBSTR(BOARD_CONTENT, 100, 1) AS BOARD_CONTENT,
		           TO_CHAR(REPLACE(SUBSTR(BOARD_DATE,1,8), '/', '.')) AS BOARD_DATE,
		           BOARD_CATEGORY,
		           NVL(U.USERS_NICKNAME, B.USERS_ID) AS USERS_ID,
		           COUNT(HEART_ID) OVER(PARTITION BY B.BOARD_ID) AS HEART_SUM
		    FROM BOARD B 
		    LEFT JOIN HEART H ON B.BOARD_ID = H.HEART_ID
		    JOIN USERS U ON B.USERS_ID = U.USERS_ID
		) MAIN
		LEFT JOIN ATTACH A ON MAIN.BOARD_ID = A.BOARD_ID
		<if test = "boardCategory != null">
			WHERE BOARD_CATEGORY = #{boardCategory} 
		</if>
		ORDER BY BOARD_DATE DESC, ATTACH_NAME NULLS LAST
	</select>

	<select id="getBoardListByHeart" parameterType="int" resultType="com.choco.board.model.Board">
		SELECT 
		    MAIN.*,
		    A.ATTACH_NAME AS ATTACH_NAME
		FROM (
		    SELECT DISTINCT B.BOARD_ID,
		           BOARD_TITLE,
		           DBMS_LOB.SUBSTR(BOARD_CONTENT, 100, 1) AS BOARD_CONTENT,
		           TO_CHAR(REPLACE(SUBSTR(BOARD_DATE,1,8), '/', '.')) AS BOARD_DATE,
		           BOARD_CATEGORY,
		           NVL(U.USERS_NICKNAME, B.USERS_ID) AS USERS_ID,
		           COUNT(HEART_ID) OVER(PARTITION BY B.BOARD_ID) AS HEART_SUM
		    FROM BOARD B
		    LEFT JOIN HEART H ON B.BOARD_ID = H.HEART_ID
		    JOIN USERS U ON B.USERS_ID = U.USERS_ID
		) MAIN
		LEFT JOIN ATTACH A ON MAIN.BOARD_ID = A.BOARD_ID
		ORDER BY HEART_SUM DESC, ATTACH_NAME NULLS LAST
		<if test = "rank != null">
			FETCH FIRST #{top} ROW ONLY
		</if>
	</select>	
	
	<select id="getBoardListByUsersId" parameterType="String" resultType="com.choco.board.model.Board">
		SELECT 
		    MAIN.*,
		    A.ATTACH_NAME AS ATTACH_NAME
		FROM (
		    SELECT DISTINCT B.BOARD_ID,
		           BOARD_TITLE,
		           DBMS_LOB.SUBSTR(BOARD_CONTENT, 100, 1) AS BOARD_CONTENT,
		           TO_CHAR(REPLACE(SUBSTR(BOARD_DATE,1,8), '/', '.')) AS BOARD_DATE,
		           BOARD_CATEGORY,
		           B.USERS_ID AS ID,
		           NVL(U.USERS_NICKNAME, B.USERS_ID) AS USERS_ID,
		           COUNT(HEART_ID) OVER(PARTITION BY B.BOARD_ID) AS HEART_SUM
		    FROM BOARD B 
		    LEFT JOIN HEART H ON B.BOARD_ID = H.HEART_ID
		    JOIN USERS U ON B.USERS_ID = U.USERS_ID
		) MAIN
		LEFT JOIN ATTACH A ON MAIN.BOARD_ID = A.BOARD_ID
		WHERE MAIN.ID = #{usersId}
		ORDER BY BOARD_DATE DESC, ATTACH_NAME NULLS LAST  
	</select>	
	
	<select id="getBoardListByUsersHeart" parameterType="String" resultType="com.choco.board.model.Board">
		SELECT 
		    MAIN.*,
		    A.ATTACH_NAME AS ATTACH_NAME
		FROM (
		    SELECT DISTINCT B.BOARD_ID,
		           BOARD_TITLE,
		           DBMS_LOB.SUBSTR(BOARD_CONTENT, 100, 1) AS BOARD_CONTENT,
		           TO_CHAR(REPLACE(SUBSTR(BOARD_DATE,1,8), '/', '.')) AS BOARD_DATE,
		           BOARD_CATEGORY,
		           B.USERS_ID AS ID,
		           NVL(U.USERS_NICKNAME, B.USERS_ID) AS USERS_ID,
		           COUNT(HEART_ID) OVER(PARTITION BY B.BOARD_ID) AS HEART_SUM
		    FROM BOARD B 
		    LEFT JOIN HEART H ON B.BOARD_ID = H.HEART_ID
		    JOIN USERS U ON B.USERS_ID = U.USERS_ID
		    WHERE H.USERS_ID = #{usersId}
		) MAIN
		LEFT JOIN ATTACH A ON MAIN.BOARD_ID = A.BOARD_ID
	</select>		
	
	<select id="getBoardInfo" parameterType="int" resultType="com.choco.board.model.Board">
		SELECT
		    BOARD_ID,
		    BOARD_TITLE,
		    BOARD_CONTENT,
		    B.USERS_ID,
		    BOARD_CATEGORY,
			TO_CHAR(REPLACE(SUBSTR(BOARD_DATE,1,8), '/', '.')) AS BOARD_DATE,
			COUNT(HEART_ID) OVER(PARTITION BY B.BOARD_ID) AS HEART_SUM
		FROM BOARD B
		LEFT JOIN HEART H ON B.BOARD_ID = H.HEART_ID
		WHERE BOARD_ID = #{boardId}
	</select>	
	
	<select id="createBoardId" resultType="int">
		SELECT BR_SEQ.NEXTVAL
		FROM DUAL
	</select>
	
	<insert id="createBoard" parameterType="com.choco.board.model.Board">
		INSERT INTO BOARD (
			BOARD_ID, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, USERS_ID, BOARD_CATEGORY)
		VALUES (
			#{boardId}, #{boardTitle}, #{boardContent}, CURRENT_TIMESTAMP, #{usersId}, #{boardCategory})
	</insert>
		
	<update id="updateBoard" parameterType="com.choco.board.model.Board">
		UPDATE BOARD
		SET BOARD_TITLE = #{boardTitle},
		    BOARD_CONTENT = #{boardContent},
		    BOARD_CATEGORY = #{boardCategory}
		WHERE BOARD_ID = #{boardId}
	</update>
	
	<delete id="deleteBoard" parameterType="int">
		DELETE FROM BOARD
		WHERE BOARD_ID = #{boardId}
	</delete>
</mapper>