<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.choco.pet.dao.PetRepository">

	<insert id="insertPet" parameterType="com.choco.pet.model.Pet">
		INSERT INTO PET (
			PET_ID, PET_PROFILE, PET_BREED, PET_NAME, PET_BIRTHDATE, PET_WEIGHT, USERS_ID)
		VALUES (#{petId}, #{petProfileBytes}, #{petBreed}, #{petName}, #{petBirthdate}, TO_NUMBER(#{petWeight}, '999.99'), #{usersId})
	</insert>

	<select id="createPetId" resultType="int">
		SELECT PET_SEQ.NEXTVAL + 10
		FROM DUAL
	</select>

</mapper>