<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/choco/default_layout}">

<th:block layout:fragment="title">
	<title>MYCUTEPET | BOARD</title>
</th:block>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/home.css}" />
	<link rel="stylesheet" th:href="@{/css/board.css}" />
</th:block> 

<th:block layout:fragment="wrapper">
  <!-- 메인 이미지 -->
  <div class="main-img">
      <img src="/images/board-img.png" alt="Pet Lovers" class="main-img" />
  </div>

  <!-- 콘텐츠 래퍼 -->
  <div layout:fragment="content-wrapper" class="content-wrapper">
  <!-- 배너 -->
  <div th:replace="~{/thymeleaf/choco/include::banner}"></div>
    <!-- 메인 콘텐츠 -->
   <div layout:fragment="main-content-wrapper" class="main-content-wrapper">

    <h2>주접 게시판</h2>
    <div class="board-container">	
      <!-- 게시글 버튼 -->
      <div class="btn-box" th:with="category=${boardCategory}">
        <button onclick="location.href='/board'" th:class="${category==null?'board-btn active scale':'board-btn scale'}">전체</button>
        <button onclick="location.href='/board/category/dog'" th:class="${category=='dog'?'board-btn active scale':'board-btn scale'}">강아지</button>
        <button onclick="location.href='/board/category/cat'" th:class="${category=='cat'?'board-btn active scale':'board-btn scale'}">고양이</button>
        <button onclick="location.href='/board/category/other'" th:class="${category=='other'?'board-btn active scale':'board-btn scale'}">소동물</button>
        <button onclick="location.href='/board/create'" class="board-btn write scale">글쓰기</button>
      </div>  
      
       <form action="" method="get">
         <!-- 정렬 버튼 -->
         <div class="board-top-box">
          <div class="sort-options">
           <input type="radio" id="latest" name="sort" value="latest" onchange="this.form.submit()" th:checked="${sort=='latest' || sort==null}">
           <label for="latest" class="sort-label">최신 순</label>
           <input type="radio" id="popular" name="sort" value="popular" onchange="this.form.submit()" th:checked="${sort=='popular'}">
           <label for="popular" class="sort-label">인기 순</label>
          </div>
      	  <!-- 검색창 -->
          <div class="search-box">
           <input class="search-txt" type="text" name="" placeholder="search">
           <button class="search-btn" type="submit"><img src="/images/search.png" alt="검색" /></button>
	      </div>
         </div>
       </form>
       
      <!-- 게시글 리스트 -->
      <div class="board-list-container">
       <!-- 게시글1-->
       <div class="board-item" th:each="board: ${boardList}">
         <a th:href="@{/board/{Id}(Id=${board.boardId})}" class="board-link">
          <div class="board-content">
           <div class="board-header">
               <h2 class="board-title" th:utext="${board.boardTitle}"></h2>
               <p class="board-author" th:utext="' by. ' + ${board.usersId}"></p>
           </div>
           <p class="board-description" th:utext="${board.boardContent}"></p>
           <div class="board-footer">
               <span class="board-date" th:utext="${board.boardDate}"></span>
               <span class="board-likes" th:utext="'❤️ : ' + ${board.heartSum}"></span>
               <span><img src="/images/king.svg" alt="주접왕" /></span>
           </div>
          </div>
          <div class="board-image">
           <img src="/images/cardimgtest.png" alt="게시글 이미지" />
          </div>
         </a>
       </div>
      </div>      
    </div>
   </div>
  </div>
</th:block>
</html>
