<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/choco/default_layout}">

<th:block layout:fragment="title">
	<title>MYCUTEPET | BOARD FORM</title>
</th:block>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/home.css}" />
	<link rel="stylesheet" th:href="@{/css/board-form.css}" />
</th:block>

<th:block layout:fragment="wrapper">	
  <!-- 메인 이미지 -->
  <div class="main-img">
      <img src="/images/board-img.png" alt="Pet Lovers" class="main-img" />
  </div>

  <!-- 콘텐츠 래퍼 -->
  <div layout:fragment="content-wrapper" class="content-wrapper">
  <!-- 배너 -->
  <div th:replace="~{/thymeleaf/choco/include::banner}"></div>
    <!-- 메인 콘텐츠 -->
  <div layout:fragment="main-content-wrapper" class="main-content-wrapper">
		
    <form action="/board/create" method="post" enctype="multipart/form-data" th:object="${board}">
	  <div class="postbtn-container">
       <!-- 카테고리 버튼 -->
       <h4>카테고리</h4>
       <div class="btn-box">
	    <input type="radio" id="dog" name="boardCategory" th:value="dog" class="category-radio">
	    <label for="dog" class="category-btn">강아지</label>
		
	    <input type="radio" id="cat" name="boardCategory" th:value="cat" class="category-radio">
	    <label for="cat" class="category-btn">고양이</label>
		
	    <input type="radio" id="other" name="boardCategory" th:value="other" class="category-radio">
	    <label for="other" class="category-btn">소동물</label>
	   </div> 
      </div>
	  <!-- 제목 입력 -->
	  <div class="form-group">
        <div class="form-title">
          <label for="title">제목 작성</label>
          <input type="text" th:field="*{boardTitle}" placeholder="제목을 입력하세요." required>
        </div>

    <!-- 내용 입력 -->
        <div class="form-content">
          <label for="content">글 내용 작성</label>
          <textarea th:field="*{boardContent}" rows="30" placeholder="내용을 입력하세요."></textarea>
        </div>

    <!-- 파일 첨부 -->
        <div class="file-upload">
          <label for="file">파일 첨부</label>
          <div class="file-input-wrapper">
            <input type="text"  placeholder="파일을 선택해주세요." readonly>
            <label for="file" class="file-button">파일 선택</label>
            <input type="file" id="file" name="file">
          </div>
        </div>

	    <!-- 작성 완료 버튼 -->
	    <button class="submit-btn" type="submit">작성 완료</button>
	  </div>		
    </div>
  </div>
</div>
      
</th:block>
</html>