<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/choco/default_layout}">

<th:block layout:fragment="title">
	<title>MYCUTEPET | BOARD FORM</title>
</th:block>

<th:block layout:fragment="wrapper">	
  <!-- 메인 이미지 -->
  <div class="main-img">
      <img src="/images/board-img.png" alt="Pet Lovers" class="main-img" />
  </div>

  <!-- 콘텐츠 래퍼 -->
  <div layout:fragment="content-wrapper" class="content-wrapper">
  <!-- 배너 -->
  <div th:replace="/thymeleaf/choco/include::banner"></div>
    <!-- 메인 콘텐츠 -->
  <div layout:fragment="main-content-wrapper" class="main-content-wrapper">
	<div style="width:80%;">
		<form action="/reply/create" method="post" th:object="${reply}" accept-charset="UTF-8">
		  
			<div class="mb-3">
		  	    <label for="validationTextarea">댓글내용</label>
		        <textarea th:field="*{replyContent}" placeholder="내용을 입력하세요." required></textarea>
		    </div>
		    
		    <div class="mb-3">
		  	    <label for="validationTextarea">보드아이디</label>
		        <textarea th:field="*{boardId}" placeholder="내용을 입력하세요." required></textarea>
		    </div>
		
		    <div class="mb-3">
		        <button class="btn btn-primary" type="submit">등록</button>
		    </div> 
		</form>
    </div>
  </div>
</div>
      
</th:block>
</html>
