<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/choco/default_layout}">

<th:block layout:fragment="title">
	<title>반려동물 권장 칼로리 계산기</title>
</th:block>

<th:block layout:fragment="css">
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }
    .inputs, .result {
      display: none;
      margin-top: 20px;
    }
    .inputs label, .inputs select, .inputs input, .inputs button {
      margin: 10px;
    }
    #dog-image, #cat-image {
      width: 150px;
      cursor: pointer;
      margin: 20px;
    }
    #calculate-button {
      margin-top: 20px;
    }
    .result {
      font-size: 20px;
      margin-top: 30px;
    }
  </style>
  <link rel="stylesheet" th:href="@{/css/home.css}" />
</th:block> 

<th:block layout:fragment="wrapper">	
  <!-- 메인 이미지 -->
  <div class="calc-img">
      <img src="/images/cal-img.png" alt="Pet Lovers" class="main-img" />
  </div>

  <!-- 콘텐츠 래퍼 -->
  <div layout:fragment="content-wrapper" class="content-wrapper">
  <!-- 배너 -->
  <div th:replace="/thymeleaf/choco/include::banner"></div>
    <!-- 메인 콘텐츠 -->
    <div layout:fragment="main-content-wrapper" class="main-content-wrapper">
  <h1>권장 칼로리 계산기</h1>
  <div>
    <img id="dog-image" src="dog.jpg" alt="강아지" />
    <img id="cat-image" src="cat.jpg" alt="고양이" />
  </div>
  <div class="inputs">
    <label for="weight-input">몸무게 (kg):</label>
    <input type="number" id="weight-input" step="0.01" placeholder="몸무게를 입력하세요" />
    <br>
    <label for="status-select">상태 선택:</label>
    <select id="status-select">
      <!-- 동적 옵션 추가 -->
    </select>
    <br>
    <button id="calculate-button">계산하기</button>
  </div>
  <div class="result">
    <p id="calorie-result"></p>
  </div>
  </div>
  </div>
  
  <th:block layout:fragment="script"> 
    <script src="calc_recommend_calorie.js"></script>
  </th:block>
</th:block>
</html>