<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/choco/default_layout}">

<th:block layout:fragment="title">
	<title>MYCUTEPET | AGE</title>
</th:block>

    <th:block layout:fragment="css">
    	<link rel="stylesheet" th:href="@{/css/home.css}" />
    	<link rel="stylesheet" th:href="@{/css/calc.css}" />
    </th:block> 

<th:block layout:fragment="wrapper">	
  <!-- 메인 이미지 -->
  <div class="calc-img">
      <img src="/images/cal-img.png" alt="Pet Lovers" class="main-img" />
  </div>

	  <!-- 콘텐츠 래퍼 -->
	  <div layout:fragment="main-content-wrapper" class="content-wrapper">
	  <!-- 배너 -->
	  <div th:replace="/thymeleaf/choco/include::banner"></div>
	    <!-- 메인 콘텐츠 -->
	    <div layout:fragment="main-content-wrapper" class="calc-content-wrapper">
	      <div class="calc-inside-container"> <!-- 배너 옆 메인 콘텐츠 -->
	        <!-- 버튼 -->
			<div class="calc-button-container"> <!-- 계산기 버튼 -->
			  <div class="button-group">
			    <button class="calc-age-button" onclick="location.href='/calc/age'">나이 계산기</button>
			    <button class="calc-recommend-calorie-button" onclick="location.href='/calc/recommend-calorie'">권장 칼로리 계산기</button>
			  </div>
			</div>
	      </div>     	
	<div class="calc-outline-block">
  <!-- 텍스트 컨테이너 -->
  <div class="text-container">
  <div class="text-header">
    <img src="/images/question.png" alt="물음표 이미지" class="question-icon">
    <span class="text-left">정확한 생년월일을 모르겠어요!</span>
  </div>
  <div class="text-body">
    걱정 마세요!<br>
    <b>태어난 연도</b> 혹은 <b>월</b>까지만 입력해도<br>
    대략적인 나이를 추산할 수 있습니다 :)
  </div>
</div>

  <!-- PET 선택 -->
  <div class="pet-selection">
    <span class="pet-title">나의 PET</span>
    <img id="dog-image" src="/images/dog.png" alt="강아지 이미지" class="pet-image" />
    <img id="cat-image" src="/images/calc-age.png" alt="고양이 이미지" class="pet-image" />
  </div>

  <!-- 생년월일 입력 -->
  <div class="inputs" style="display: none;">
    <label for="birth-input" class="input-label">생년월일</label>
    <input type="text" id="birth-input" placeholder="숫자만 입력하세요" class="input-field" />
    <span class="input-helper-text">
    예) 2024년 1월 1일 : 20240101
    </span>
    
  </div>

  <!-- 강아지 크기 선택 (강아지 계산기에만 표시) -->
  <div class="size-container" id="size-container" style="display: none;">
    <label for="size-select" class="input-label">반려동물 크기</label>
    <select id="size-select" class="input-field">
      <option value="small">소형견(10kg 미만)</option>
      <option value="medium">중형견(10kg 이상 25kg 미만)</option>
      <option value="large">대형견(25kg 이상)</option>
    </select>
  </div>

  <!-- 계산하기 버튼 -->
  <div class="calculate-button-container" style="display: none;">
    <button id="calculate-button">계산하기</button>
  </div>

  <!-- 결과 출력 -->
  <div class="result" id="result-section" style="display: none;">
    <p class="result-note">
      <b>나의 PET은</b>
      </p>
    <p id="age-result" class="result-text">
      아직 반려동물의 나이를 사람 나이로 정확하게<br>
      변환하는 연구 결과는 없습니다.<br>
      위 결과는 참고로만 봐주세요.
    </p>
  </div>
</div>

	</div>
	</div>
 <th:block layout:fragment="script"> 
    <script type="text/javascript" th:src="@{/js/calc_age.js}"></script>
    </th:block>
 </th:block>