<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/choco/default_layout}">

<th:block layout:fragment="title">
	<title>MYCUTEPET | CALORIE</title>
</th:block>

    <th:block layout:fragment="css">
    	<link rel="stylesheet" th:href="@{/css/home.css}" />
    	<link rel="stylesheet" th:href="@{/css/calc.css}" />
    </th:block> 

<th:block layout:fragment="wrapper">	
  <!-- 메인 이미지 -->
  <div class="calc-img">
      <img src="/images/cal-img.png" alt="Pet Lovers" class="main-img" />
  </div>

	  <!-- 콘텐츠 래퍼 -->
	  <div layout:fragment="main-content-wrapper" class="content-wrapper">
	  <!-- 배너 -->
	  <div th:replace="/thymeleaf/choco/include::banner"></div>
	    <!-- 메인 콘텐츠 -->
	    <div layout:fragment="main-content-wrapper" class="calc-content-wrapper">
	      <div class="calc-inside-container"> <!-- 배너 옆 메인 콘텐츠 -->
	        <!-- 버튼 -->
			<div class="calc-button-container"> <!-- 계산기 버튼 -->
			  <div class="button-group">
			    <button class="calc-age-button" onclick="location.href='/calc/age'">나이 계산기</button>
			    <button class="calc-recommend-calorie-button" onclick="location.href='/calc/recommend-calorie'">권장 칼로리 계산기</button>
			  </div>
			</div>
	    <div class="calc-outline-block">    
	    
   <!-- PET 선택 -->
  <div class="pet-selection">
    <span class="pet-title">나의 PET</span>
    <img id="dog-image" src="/images/dog.png" alt="강아지 이미지" class="pet-image" />
    <img id="cat-image" src="/images/calc-age.png" alt="고양이 이미지" class="pet-image" />
  </div>

  <!-- 몸무게 입력-->
  <div class="inputs" style="display: none;">
    <label for="weight-input" class="input-label">몸무게(kg)</label>
    <input type="number" id="weight-input" step="0.01" placeholder="숫자만 입력하세요" class="input-field"/>
   </div>
   
   <!-- 상태 선택 -->
   <div class="size-container" id="size-container" style="display: none;">
    <label for="status-select" class="input-label">상태 선택</label>
    <select id="status-select" class="input-field">
		    <optgroup label="강아지 상태">
	    <option value="3">4개월 미만</option>
	    <option value="2">4개월~성견</option>
	    <option value="1.8">미중성 성견</option>
	    <option value="1.6">중성화 완료 성견</option>
	    <option value="1.4">과체중 성견</option>
	    <option value="1.2">비만 성견</option>
	    <option value="2">임신 전반 42일간 성견</option>
	    <option value="3">임신 후반 21일간 성견</option>
	    <option value="1.2">노령견</option>
	  </optgroup>
	  <!-- 고양이 상태 -->
	  <optgroup label="고양이 상태">
	    <option value="3">4개월 미만</option>
	    <option value="2.5">4개월~6개월</option>
	    <option value="2">7개월~12개월</option>
	    <option value="1.4">미중성 성묘</option>
	    <option value="1.2">중성화 완료 성묘</option>
	    <option value="1.1">과체중 성묘</option>
	    <option value="0.9">비만 성묘</option>
	    <option value="2.5">임신 중인 성묘</option>
	    <option value="1">노묘</option>
	  </optgroup>
	  </select>
    </div>
    
      <div class="calculate-button-container" style="display: none;">
   		 <button id="calculate-button">계산하기</button>
      </div>
      
      <div class="result" id="result-section" style="display: none;">
        <p class="result-note">
      <b>나의 PET의</b>
      </p>
      <p id="calorie-result"  class="result-text">></p>
     </div>
     </div>
     </div>
     </div>
     </div>
  <th:block layout:fragment="script"> 
    <script type="text/javascript" th:src="@{/js/calc_recommend_calorie.js}"></script>
    </th:block>