<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/choco/default_layout}">
	
<div layout:fragment="content"> 
  <!-- 메인 이미지 -->
  <div class="main-img">
      <img src="/images/main-img.png" alt="Pet Lovers" class="main-img" />
  </div>

  <!-- 콘텐츠 래퍼 -->
  <div class="content-wrapper">
  <!-- 배너 -->
  <div class="banner">
    <a href="https://pethroom.com" target="_blank">
    <img src="/images/banner.png" alt="페쓰룸 광고"/></a>
  </div>

    <!-- 메인 콘텐츠 -->
    <div class="main-content-wrapper">
      <h4>오늘의 주접왕</h4> <br>
      <div class="post-container">
        <!-- 각 게시글 카드 -->
        <div class="post-card">
          <img src="/images/cardimgtest.png" alt="임시 이미지">
          <h3>카드1</h3>
          <p>내용 없음</p>
          <p class="post-date">날짜 없음</p>
          <a href="post.html">Read more</a>
        </div>
        <div class="post-card">
          <img src="/images/cardimgtest.png" alt="임시 이미지">
          <h3>카드 2</h3>
          <p>내용 없음</p>
          <p class="post-date">날짜 없음</p>
          <a href="post.html">Read more</a>
        </div>
        <div class="post-card">
          <img src="/images/cardimgtest.png" alt="임시 이미지">
          <h3>카드3</h3>
          <p>내용 없음</p>
          <p class="post-date">날짜 없음</p>
          <a href="post.html">Read more</a>
        </div>
        <div class="post-card">
          <img src="/images/cardimgtest.png" alt="임시 이미지">
          <h3>카드4</h3>
          <p>내용 없음</p>
          <p class="post-date">날짜 없음</p>
          <a href="post.html">Read more</a>
        </div>
        <div class="post-card">
          <img src="/images/cardimgtest.png" alt="임시 이미지">
          <h3>카드5</h3>
          <p>내용 없음</p>
          <p class="post-date">날짜 없음</p>
          <a href="post.html">Read more</a>
        </div>
        <div class="post-card">
          <img src="/images/cardimgtest.png" alt="임시 이미지">
          <h3>카드6</h3>
          <p>내용 없음</p>
          <p class="post-date">날짜 없음</p>
          <a href="post.html">Read more</a>
        </div>
      </div>
     </div>
    </div>
</div> 
</html>