<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/thymeleaf/choco/default_layout}">

<th:block layout:fragment="title">
	<title>MYCUTEPET | HOME</title>
</th:block>

<th:block layout:fragment="wrapper">	
  <!-- 메인 이미지 -->
  <div class="main-img">
      <img src="/images/main-img.png" alt="Pet Lovers" class="main-img" />
  </div>

  <!-- 콘텐츠 래퍼 -->
  <div layout:fragment="content-wrapper" class="content-wrapper">
  <!-- 배너 -->
  <div th:replace="~{/thymeleaf/choco/include::banner}"></div>
    <!-- 메인 콘텐츠 -->
    <div layout:fragment="main-content-wrapper" class="main-content-wrapper">
      <h4>오늘의 주접왕</h4> <br>
      <div class="post-container">
        <!-- 각 게시글 카드 -->
        <div class="post-card" th:each="board: ${boardList}"
        	th:onclick="|location.href='/board/${board.boardId}'|">
          <img src="/images/cardimgtest.png" alt="임시 이미지">
          <h3 th:utext="${board.boardTitle}"></h3>
          <p th:utext="${board.boardContent}"></p>
          <p class="post-date" th:utext="${board.boardDate}"></p>
          <span>Read more</span>
        </div>
      </div>
     </div>
    </div>
</th:block>
</html>